<div class="modify-order">
  <form [formGroup]="modifyOrderForm" (ngSubmit)="modifyOrder()">
    <table class="place-trade-table">
      <thead>
        <tr>
          <th colspan="4"><h2>Modify Order</h2></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><label for="Action">Action</label></td>
        <td>{{ modifyOrderForm.get('Action')?.value }}</td>
        <td><label for="Exchange">Exchange</label></td>
        <td>{{ modifyOrderForm.get('Exchange')?.value }}</td>
      </tr>
      <tr>
        <td><label for="symbol">Symbol</label></td>
        <td>{{ modifyOrderForm.get('symbol')?.value }}</td>
        <td><label for="Order_Type">Order Type</label></td>
        <td>
          <select id="Order_Type" formControlName="Order_Type">
            <option value="LIMIT">LIMIT</option>
            <option value="MARKET">MARKET</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="Quantity">Quantity</label></td>
        <td><input id="CurrentQuantity" formControlName="CurrentQuantity" type="number" /></td>
        <td><label for="Limit_Price">Limit Price</label></td>
        <td>
          <input id="Limit_Price" formControlName="Limit_Price" type="number" [hidden]="modifyOrderForm.get('Order_Type')?.value === 'MARKET'" />
        </td>
      </tr>
      <tr>
        <td><label for="ProductCode">Product</label></td>
        <td>
          <select id="ProductCode" formControlName="ProductCode">
            <option value="CNC">CNC</option>
            <option value="Normal">Normal</option>
          </select>
        </td>
        <td><label for="Duration">Duration</label></td>
        <td>{{ modifyOrderForm.get('Duration')?.value }}</td>
      </tr>
      <tr>
        <td><label for="Trading_Symbol">Trading Symbol</label></td>
        <td>{{ modifyOrderForm.get('Trading_Symbol')?.value }}</td>
        <td><label for="Streaming_Symbol">Streaming Symbol</label></td>
        <td>{{ modifyOrderForm.get('Streaming_Symbol')?.value }}</td>
      </tr>
      <tr>
        <td><label for="Disclosed_Quantity">Disclosed Quantity</label></td>
        <td><input id="Disclosed_Quantity" formControlName="Disclosed_Quantity" type="number" /></td>
        <td><label for="userid">User Id</label></td>
        <td>{{ modifyOrderForm.get('userid')?.value }}</td>
      </tr>
      <tr>
        <td><label for="Quantity">Quantity</label></td>
        <td>{{ modifyOrderForm.get('Quantity')?.value }}</td>
        <td><label for="Quantity">Order_ID</label></td>
        <td>{{ modifyOrderForm.get('Order_ID')?.value }}</td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td colspan="4" style="text-align: center;">
          <button type="submit">Modify Order</button>
        </td>
      </tr>
    </tbody>
    </table>
  </form>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>