<div class="list-users">
    <div *ngIf="error" class="error">{{ error }}</div>
    <table *ngIf="users.length">
      <thead>
        <tr>
          <th colspan="4"><h2>List Users</h2></th>
        </tr>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Active</th>
          <th>Request ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userid }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.active }}</td>
          <td>{{ user.reqId }}</td>
        </tr>
      </tbody>
    </table>
</div>  