<div class="orders content">
    <div *ngIf="error" class="error">{{ error }}</div>
    <table *ngIf="orders.length">
      <thead title="Orders">
        <tr>
          <th>Order ID</th>
          <th>Symbol</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
          <th>User ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.Order_ID }}</td>
          <td>{{ order.Symbol }}</td>
          <td>{{ order.Quantity }}</td>
          <td>{{ order.Limit_Price }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.userid }}</td>
          <!--rejected-->
          <!--<td *ngIf="order.status === 'rejected'"> -->
          <td *ngIf="order.status === 'open'">
              <button (click)="modifyOrder(order)">Modify Order</button>
            <button (click)="cancelOrder(order)">Cancel Order</button>
          </td>		
            </tr>
      </tbody>
    </table>
</div>