<nav class="navigation">
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/list-users" routerLinkActive="active">List Users</a></li>
      <li><a routerLink="/place-trade" routerLinkActive="active">Place Trade</a></li>
      <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
      <li><a routerLink="/trades" routerLinkActive="active">Trades</a></li>
      <li><a routerLink="/net-positions" routerLinkActive="active">Net Positions</a></li>
      <li><a routerLink="/holdings" routerLinkActive="active">Holdings</a></li>
      <li><a routerLink="/manual" routerLinkActive="active">User Manual</a></li>
    </ul>
</nav>  